body {
   background-color: #E4E6E1
}

* {
  font-family: Zen Kaku Gothic Antique;
}

body {
  margin:50px 50px 70px 50px;
}

.box {
  display: flex;
  align-self: center;
  align-content: center;
}

.card {
  flex: 28;
  font-size: large;
  line-height: 1.15;
  font-weight: lighter;
}

.headshot {
  flex: auto;
}

.education {
  padding: 1%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: large;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;
  color: white;
  background:#4E9F3D;
  box-shadow: 0px 2px 5px 2px lightgray;
}

.work {
  padding: 1%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: large;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;
  color: white;
  background:#399E5A;
  box-shadow: 0px 2px 5px 2px lightgray;
}

@media screen and (max-width: 1700px){
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.conferences {
  padding: 1%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: large;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;
  color: white;
  background:#1E5128;
  box-shadow: 0px 2px 5px 2px lightgray;
}

.skills {
  padding: 1%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: large;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;
  color: white;
  background:#41521F;
  box-shadow: 0px 2px 5px 2px lightgray;
}
